body{
	background-color: #63D1DD;
}
#teste{
	width: 350px;
	height: 218px;
	border: 1px solid;
	background-image: url(http://boneleska.com.br/userfiles/artigos/imblema-rio-2016.png);
	background-repeat: no-repeat;
	background-position: bottom rigth;
}